<div class=page>
  <h3 class=center>วิธีการใช้งานโปรแกรม</h3>
  <b>การใช้งานเครื่องวัดความดันโลหิตแบบดิจิตอล</b>
  <ul>
    <li>ควรวัดความดันโลหิตในเวลาที่แน่นอนของแต่ละวัน ก่อนการกินยาลดความดัน กินกาแฟ ก่อนการออกกำลังกายหรือทำกิจกรรมอย่างอื่น อย่างน้อย 30 นาที</li>
    <li>ท่าที่ถูกต้องในการวัดคือการ นั่งวัด การนอนวัดอาจทำให้ได้ค่าความดันสูงกว่าปกติ</li>
    <li>จัดท่านั่งให้รู้สึกผ่อนคลาย นั่งสบาย ไม่นั่งไขว่ห้าง</li>
    <li>วางแขนตรง หงายฝ่ามือขึ้น และพันปลอกแขนให้ให้แน่นพอดีไม่ให้มีช่องว่างระหว่างปลอกแขนกับต้นแขนมากเกินไป โดยปลอกแขนให้อยู่ระดับเดียวกับหัวใจ และให้ด้านล่างของปลอกแขนอยู่ห่างจากข้อพับ 2-3 เซนติเมตร</li>
    <li>ที่ปลอกแขนอาจมีเครื่องหมาย ให้วางเครื่องหมายบนปลอกแขนให้ตรงกับหลอดเลือดดำบนต้นแขน ซึ่งอยู่ตรงกลางข้อพับ</li>
    <li>ขณะทำการวัด ห้ามพูดคุย ห้ามขยับตัว อาจทำให้ผลวัดความดันผิดพลาดได้</li>
    <li>ควรวัดความดันอย่างน้อยวันละ 2 รอบ ตอนเช้าหลังตื่นนอนไม่เกิน 2 ชั่วโมง และก่อนนอนอีกรอบ</li>
    <li>ในการวัดแต่ละรอบ ให้ทำการวัด 2 ครั้ง แต่ละครั้งห่างกัน 1-2 นาที ผลการวัดที่ได้ทั้ง 2 ครั้งไม่ควรห่างกันเกิน 5 หน่วย หากแตกต่างกันเกินกว่านี้ให้เว้นระยะ 1-2 นาทีแล้ววัดซ้ำ บันทึกผลการวัดรายการที่ต่างกันไม่เกิน 5 หน่วย จำนวน 2 ครั้ง</li>
  </ul>
  <br>
  <b>ค่าความดันโลหิตของคนปกติอยู่ที่เท่าไร</b><br> ค่าความดันปกติโดยเฉลี่ยแล้วควรอยู่ที่ประมาณ 120/80 มิลลิเมตรปรอท และคนที่มีความดันโลหิตเกิน 140/90 มิลลิเมตรปรอท (Systolic เกิน 140 มิลลิเมตรปรอท หรือ Diastolic เกิน 90 มิลลิเมตรปรอท) จะถือว่าเป็นโรคความดันโลหิตสูง
  แต่การที่ตัวเลขที่ตรวจวัดได้สูงหรือต่ำกว่านี้ก็ไม่ได้น่ากังวลใจเสมอไป เพราะในแต่ละช่วงอายุก็มีตัวเลขที่เหมาะสมแตกต่างกันออกไป (อ้างอิงจาก กรมวิทยาศาสตร์การแพทย์ กระทรวงสาธารณสุข) ดังนี้
  <table class="data border">
    <tr>
      <td>วัยทารก อายุต่ำกว่า 3 ปี</td>
      <td>ไม่ควรเกิน 90/60 มิลลิเมตรปรอท</td>
    </tr>
    <tr>
      <td>เด็กเล็ก 3 – 6 ปี</td>
      <td>ไม่ควรเกิน 110/70 มิลลิเมตรปรอท</td>
    </tr>
    <tr>
      <td>เด็กโต 7 – 17 ปี</td>
      <td>ไม่ควรเกิน 120/80 มิลลิเมตรปรอท</td>
    </tr>
    <tr>
      <td>วัยทำงาน 18 - 59 ปี</td>
      <td>ไม่ควรเกิน 140/90 มิลลิเมตรปรอท</td>
    </tr>
    <tr>
      <td>ผู้สูงอายุ 60 ปีขึ้นไป</td>
      <td>ไม่ควรเกิน 160/90 มิลลิเมตรปรอท </td>
    </tr>
  </table>
  นั่นหมายความว่า ในผู้สูงอายุปกติแล้วความดันโลหิตจะสูงกว่าคนหนุ่มสาว รวมถึงคนที่ออกกำลังกายสม่ำเสมอก็จะมีความดันโลหิตที่ต่ำกว่าคนปกติด้วย หรือแม้แต่คนที่เป็นโรคบางชนิด เช่นเบาหวาน ก็จะมีค่าความดันโลหิตที่เหมาะสมแตกต่างกันออกไป ทั้งนี้ทั้งนั้นการจะวินิจฉัยว่าเราเป็นโรคความดันโลหิตหรือไม่
  ต้องให้แพทย์เป็นผู้วินิจฉัย<br><br>
  <b>ทำความเข้าใจกับผลการตรวจ</b><br> ผลการตรวจในโปรแกรมแบ่งออกตามสี ดังนี้
  <ul>
    <li>ความดันโลหิตสูงกว่า <span class=color-red>{SYS_HIGHT}/{DIA_HIGHT}</span> มิลลิเมตรปรอท ถือว่าเป็นความดันโลหิตสูง ควรพบแพทย์ด่วน</li>
    <li>ความดันโลหิตสูงกว่า <span class=color-orange>{SYS_MAX}/{DIA_MAX}</span> มิลลิเมตรปรอท ถือว่ามีความเสี่ยง ควรปรึกษาแพทย์</li>
    <li>ความดันโลหิตของผู้ใหญ่อายุ 18 ปีขึ้นไปที่ปกติจะไม่เกิน <span class=color-green>{SYS_MAX}/{DIA_MAX}</span> มิลลิเมตรปรอท</li>
    <li>ความดันโลหิตต่ำกว่า <span class=color-blue>{SYS_MIN}/{DIA_MIN}</span> มิลลิเมตรปรอท ถือว่าเป็นความดันโลหิตต่ำ ควรปรึกษาแพทย์</li>
  </ul>
  <br>
  <b>ความดันโลหิตสูง</b><br> เป็นภาวะที่ความดันในหลอดเลือดที่สูงขึ้นผิดปกติ โดยทั่วๆไปจะถือว่าคนที่มีระดับความดันเลือดเท่ากับหรือมากกว่า 140/90 มิลลิเมตรปรอท เป็นผู้ที่มีความดันโลหิตสูง ซึ่งหากปล่อยทิ้งไว้ ภาวะความดันโลหิตสูงจะเป็นต้นเหตุให้เกิดโรคต่างๆมากมาย
  เช่น โรคหัวใจตีบ โรคหลอดเลือดสมองตีบ เส้นเลือดแดงใหญ่โป่งพอง ไตวาย เป็นต้น หากไม่ได้รับการรักษาอย่างถูกต้องและเหมาะสม อาจทำให้ผู้ป่วยทุพพลภาพหรือเสียชีวิตได้ แต่อย่างไรก็ตามความดันโลหิตก็ยังแตกต่างกันในแต่ละช่วงอายุด้วย (ตามตาราง) ดังนั้นหากพบว่าตัวเองมีความเสี่ยงให้พบแพทย์เพื่อประเมินอาการโดยเร็วที่สุด
  <br><br>
  <b>ความดันโลหิตต่ำ</b><br> เป็นภาวะที่ความดันเลือด Systolic ต่ำกว่า 90 มิลลิเมตรปรอท ซึ่งสามารถพบได้ทั้งหญิงชายในทุกอายุ ส่วนมากจะมีสาเหตุมาจากการขาดสารอาหารบางชนิด เช่น โปรตีน วิตามินซีทำให้ผนังหลอดเลือดแดงไม่แข็งแรง จนเกิดการคลายตัวมากเกินไป หรือเกิดจากโรคบางชนิด
  ซึ่งภาวะนี้จะมีทั้งที่สามารถหายเองหรือต้องได้รับการรักษา
</div>